#main-page-heading{
    font-size: 35px;
    font-weight: bold;
}

.main-page-image{
    height: auto;
    width: 700px;
}

.images{
    height: auto;
    width: 300px;
}

.hyperlinks{
    font-size: 20px;
}

